footer.main-footer
    strong
        | Copyright &copy; 2020-2021 
        a(href='http://adminlte.io') Admin Cinema Plus
        | .
    |     All rights reserved.
    .float-right.d-none.d-sm-inline-block
        b Version
        |  2.0.1
// Control Sidebar
aside.control-sidebar.control-sidebar-dark
    // Control sidebar content goes here
    // /.control-sidebar