aside.main-sidebar.sidebar-dark-primary.elevation-4(style="position:fixed")
    // Brand Logo
    a.brand-link(href='index3.html')
        img.brand-image.img-circle.elevation-3(src='dist/img/AdminLTELogo.png' alt='AdminLTE Logo' style='opacity: .8')
        span.brand-text.font-weight-light Admin 
    // Sidebar
    .sidebar
        // Sidebar user panel (optional)
        .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
                img.img-circle.elevation-2(src='https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png' alt='User Image')
            .info
                a.d-block(href='#') Tên Admin
        // Sidebar Menu
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                //
                    Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library
                li.nav-item.has-treeview.menu-open
                    a.nav-link.active(href='#')
                        i.nav-icon.fas.fa-tachometer-alt
                        p
                            | Trang chủ

                li.nav-item
                    a.nav-link(href='#')
                    
                        i.nav-icon.fas.fa-film
                        p
                            | Quản lý phim chiếu
                            i.fas.fa-angle-left.right
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/phim/danhsachphim?page=1')
                                i.far.fa-circle.nav-icon
                                p Danh sách phim chiếu
                        li.nav-item
                            a.nav-link(href='/phim/themphimmoi')
                                i.far.fa-circle.nav-icon
                                p Thêm thông tin phim mới

                li.nav-item.has-treeview
                    a.nav-link(href='#')
                        i.nav-icon.far.fa-calendar-alt
                        p
                            | Quản lý lịch chiếu
                            i.fas.fa-angle-left.right
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/lichchieu/danhsachlichchieu?page=1')
                                i.far.fa-circle.nav-icon
                                p Danh sách lịch chiếu
                        li.nav-item
                            a.nav-link(href='/lichchieu/themlichchieu')
                                i.far.fa-circle.nav-icon
                                p Thêm lịch chiếu

                li.nav-item.has-treeview
                    a.nav-link(href='#')
                        i.nav-icon.fas.fa-users
                        p
                            | Quản lý Khách hàng
                            i.right.fas.fa-angle-left
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/customer/danhsachuser?page=1')
                                i.far.fa-circle.nav-icon
                                p Danh sách khách hàng

                li.nav-item.has-treeview
                    a.nav-link(href='#')    
                        i.nav-icon.fas.fa-ticket-alt
                        p
                            | Quản lý vé
                            i.right.fas.fa-angle-left
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/ticker/danhsachve?page=1')
                                i.far.fa-circle.nav-icon
                                p Danh sách vé đặt

                li.nav-item.has-treeview
                    a.nav-link(href='#')
                        i.nav-icon.fas.fa-video
                        p
                            | Quản lý rạp chiếu phim 
                            i.fas.fa-angle-left.right
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/rapchieu/danhsachrapchieu?page=1')
                                i.far.fa-circle.nav-icon
                                p Danh sách rạp chiếu
                        li.nav-item
                            a.nav-link(href='/rapchieu/themrap')
                                i.far.fa-circle.nav-icon
                                p Thêm rạp chiếu phim

                li.nav-item.has-treeview
                    a.nav-link(href='#')
                        i.fas.fa-person-booth
                        p
                            | Quản lý phòng
                            i.fas.fa-angle-left.right
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/phong/danhsachphong')
                                i.far.fa-circle.nav-icon
                                p Danh sách phòng 
                        li.nav-item
                            a.nav-link(href='/rapchieu/themrap')
                                i.far.fa-circle.nav-icon
                                p Thêm thông tin phòng 
                        li.nav-item
                            a.nav-link(href='/phong/xepphong')
                                i.far.fa-circle.nav-icon
                                p Xếp phòng
<<<<<<< HEAD
                
                li.nav-item.has-treeview
                    a.nav-link(href='#')
                        i.fas.fa-couch
                        p
                            | Quản lý ghế
                            i.fas.fa-angle-left.right
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/ghe/danhsachghe')
                                i.far.fa-circle.nav-icon
                                p Danh sách ghế
                        li.nav-item
                            a.nav-link(href='/ghe/themghe')
                                i.far.fa-circle.nav-icon
                                p Thêm ghế mới 
                        
=======
                li.nav-item.has-treeview
                    a.nav-link(href='#')
                        i.fas.fa-parachute-box
                        p
                            | Quản lý nhà cung cấp
                            i.fas.fa-angle-left.right
                    ul.nav.nav-treeview
                        li.nav-item
                            a.nav-link(href='/nhacungcap/danhsachnhacungcap')
                                i.far.fa-circle.nav-icon
                                p Danh sách nhà cung cấp
                        li.nav-item
                            a.nav-link(href='/nhacungcap/themnhacungcap')
                                i.far.fa-circle.nav-icon
                                p Thêm nhà cung cấp

>>>>>>> feature/manager-provider
                li.nav-header EXAMPLES
                li.nav-item
                    a.nav-link(href='pages/calendar.html')
                        i.nav-icon.far.fa-calendar-alt
                        p
                            | Calendar
                            
                li.nav-item
                    a.nav-link(href='/uploadanh/upload')
                        i.nav-icon.far.fa-calendar-alt
                        p
                            | Upload hinh ảnh
                           

        // /.sidebar-menu
        // /.sidebar