doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='index3.html') Home
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='#') Contact
    // SEARCH FORM
    form.form-inline.ml-3
      .input-group.input-group-sm
        input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
        .input-group-append
          button.btn.btn-navbar(type='submit')
            i.fas.fa-search
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Upload file ảnh
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Trang chủ
              li.breadcrumb-item.active 
                a(href='#') Upload hình ảnh
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content(style="display:flex; flex-direction: column; align-items: center;")
      form(action="upload", method="post", enctype="multipart/form-data")
        .card(style=" width:1000px")
          .card-body
            .row
              .col-md-12 
                .input-group.mb-3
                  .input-group-prepend
                    span.input-group-text Upload
                  .custom-file
                    input#inputGroupFile01.custom-file-input(name="txtfile", type='file', multiple, accept="image/x-png,image/gif,image/jpeg")
                    label.custom-file-label(for='inputGroupFile01') Choose file
            .row(style="display: flex; flex-direction: row; flex:1;")
              .col-md-6(style="display: flex; justify-content: center;")
                button.btn.btn-success(type='submit', style="width:200px") Upload file
              .col-md-6(style="display: flex; justify-content: center; ")
                button.btn.btn-secondary(type='button', style="width:200px") Hủy bỏ
      .card(style=" width:1000px")
        .card-body
          table.table.table-bordered
            thead
              tr
                th(scope='col') #
                th(scope='col') Tên file
                th(scope='col') Hinh
            tbody(id="tbody")
        
                
              
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
style.
  tbody {
      display:block;
      height:300px;
      overflow:auto;
  }
  thead, tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  thead {
      width: 100%;
  }
  table {
      width:400px;
      height: 300px;
  }

script.
    $('input[name=txtfile]').change(function(){
        console.log("ABC")
        let filelist = document.getElementById("inputGroupFile01").files;
        for(let i = 0; i < filelist.length; i++){
            let  fileReader = new FileReader();
            fileReader.onload = function(progressEvent) {
                    $("#tbody").html($("#tbody").html() + `<tr>
                                                      <td scope='row'>${i+1}</td>
                                                      <td>${filelist[i].name}</td>
                                                      <td>
                                                        <img src="${fileReader.result}" width=150 height=150/>
                                                          </td>
                                                    </tr>`)
                
            }
           fileReader.readAsDataURL(filelist[i]);  
        }
    
    })

    let temp = "#{message}"
    if(temp){
      alert(temp)
    }else{
     
    }
