doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='index3.html') Home
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='#') Contact
    // SEARCH FORM
    form.form-inline.ml-3
      .input-group.input-group-sm
        input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
        .input-group-append
          button.btn.btn-navbar(type='submit')
            i.fas.fa-search
    // Right navbar links
    ul.navbar-nav.ml-auto
      // Messages Dropdown Menu
      li.nav-item.dropdown
        a.nav-link(data-toggle='dropdown', href='#')
          i.far.fa-comments
          span.badge.badge-danger.navbar-badge 3
        .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
          a.dropdown-item(href='#')
            // Message Start
            .media
              img.img-size-50.mr-3.img-circle(src='dist/img/user1-128x128.jpg', alt='User Avatar')
              .media-body
                h3.dropdown-item-title
                  | Brad Diesel
                  span.float-right.text-sm.text-danger
                    i.fas.fa-star
                p.text-sm Call me whenever you can...
                p.text-sm.text-muted
                  i.far.fa-clock.mr-1
                  |  4 Hours Ago
            // Message End
          .dropdown-divider
          a.dropdown-item(href='#')
            // Message Start
            .media
              img.img-size-50.img-circle.mr-3(src='dist/img/user8-128x128.jpg', alt='User Avatar')
              .media-body
                h3.dropdown-item-title
                  | John Pierce
                  span.float-right.text-sm.text-muted
                    i.fas.fa-star
                p.text-sm I got your message bro
                p.text-sm.text-muted
                  i.far.fa-clock.mr-1
                  |  4 Hours Ago
            // Message End
          .dropdown-divider
          a.dropdown-item(href='#')
            // Message Start
            .media
              img.img-size-50.img-circle.mr-3(src='dist/img/user3-128x128.jpg', alt='User Avatar')
              .media-body
                h3.dropdown-item-title
                  | Nora Silvester
                  span.float-right.text-sm.text-warning
                    i.fas.fa-star
                p.text-sm The subject goes here
                p.text-sm.text-muted
                  i.far.fa-clock.mr-1
                  |  4 Hours Ago
            // Message End
          .dropdown-divider
          a.dropdown-item.dropdown-footer(href='#') See All Messages
      // Notifications Dropdown Menu
      li.nav-item.dropdown
        a.nav-link(data-toggle='dropdown', href='#')
          i.far.fa-bell
          span.badge.badge-warning.navbar-badge 15
        .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
          span.dropdown-item.dropdown-header 15 Notifications
          .dropdown-divider
          a.dropdown-item(href='#')
            i.fas.fa-envelope.mr-2
            |  4 new messages
            span.float-right.text-muted.text-sm 3 mins
          .dropdown-divider
          a.dropdown-item(href='#')
            i.fas.fa-users.mr-2
            |  8 friend requests
            span.float-right.text-muted.text-sm 12 hours
          .dropdown-divider
          a.dropdown-item(href='#')
            i.fas.fa-file.mr-2
            |  3 new reports
            span.float-right.text-muted.text-sm 2 days
          .dropdown-divider
          a.dropdown-item.dropdown-footer(href='#') See All Notifications
      li.nav-item
        a.nav-link(data-widget='control-sidebar', data-slide='true', href='#', role='button')
          i.fas.fa-th-large
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Thêm phòng mới
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý phong
              li.breadcrumb-item.active 
                a(href='#') Thêm phòng mới
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
        ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item
                a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Thêm mới một ghế
            li.nav-item
                a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Tải file data ghế
        #myTabContent.tab-content
            #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
                .card(style='width: 100%;')
                    .card-body
                        .row 
                          .col-md-12 
                              .input-group.mb-3
                                .input-group-prepend
                                  label.input-group-text(for='inputGroupSelect01', style = "color:red; font-weight:bold") Rạp chiếu
                                select#inputGroupSelect01.custom-select
                                  option(selected='') Choose...
                                  option(value='1') One
                                  option(value='2') Two
                                  option(value='3') Three
                        .row
                          .col-md-12
                            .input-group.mb-3
                                .input-group-prepend
                                  label.input-group-text(for='inputGroupSelect01', style = "color:red; font-weight:bold") Phong
                                select#inputGroupSelect01.custom-select
                                  option(selected='') Choose...
                                  option(value='1') Phong 1
                                  option(value='2') Phong 2
                                  option(value='3') Phong 3
                                  option(value='4') Phong 4

                        .row
                          .col-md-12
                              .input-group.mb-3
                                  .input-group-prepend
                                      span#inputGroup-sizing-default.input-group-text(style = "color:red; font-weight:bold") Tên ghế
                                  input.form-control(name= "txttenphim", placeholder="Nhập tên ghế",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
        
            #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab') 
              

           
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
