doctype html
include ../header.pug
link(rel='stylesheet' href='build/stylelogin.css')
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
section.ftco-section
  .container
    .row.justify-content-center
      .col-md-6.col-lg-5
        .login-wrap.p-4.p-md-5
          .icon.d-flex.align-items-center.justify-content-center
            span.fa.fa-user-o
          h3.text-center.mb-4 Đăng nhập Admin
          form.login-form#formLogin(action='/login', method="POST")
            .form-group
              input.form-control.rounded-left(type='text' placeholder='Username' required='', name="txtAcount")
            .form-group.d-flex
              input.form-control.rounded-left(type='password' placeholder='Password' required='', name="txtPassword")
            .form-group.d-md-flex
              .w-50
                label.checkbox-wrap.checkbox-primary
                  | Remember Me
                  input(type='checkbox' checked='')
                  span.checkmark
          .btn-login-container 
            button.btn.btn-primary.rounded.submit.p-3.px-5(type='button', onclick="onSubmitLogin()") Login

  #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content.dialog-loading-for-login
        .modal-body
          .d-flex.justify-content-center.align-item-center
            .spinner-border(role='status')
              span.sr-only Loading...

  #notifyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Thông báo
          button.close(type='button' data-dismiss='modal' aria-label='Close')
        .modal-body
          span#modalTextMessage
        .modal-footer
          button.btn.btn-primary(type='button' id='btnOK', onclick="onClickBtnOk()") Ok

script(src='plugins/jquery/jquery.min.js')
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
script(src="build/js/jsLogin.js") 