doctype html
include ../header.pug
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
    // SEARCH FORM
    form.form-inline.ml-3
      .input-group.input-group-sm
        input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
        .input-group-append
          button.btn.btn-navbar(type='submit')
            i.fas.fa-search
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Thêm phòng
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý phòng
              li.breadcrumb-item.active 
                a(href='#') Thêm phòng
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      nav
        #nav-tab.nav.nav-tabs(role='tablist')
          a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') Thêm mới một phòng
      #nav-tabContent.tab-content
        #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
          form(action='/phong/themphong', method="post", id="formAddRoom")
            .card(style='width: 100%;')
              .card-body
                  .row
                      h5(style="font-weight:bold;") Thông tin phòng
                  .row
                      .col-md-12 
                          select#inputGroupSelect02.custom-select(name="dropdownCinema")
                            option(selected='') Chọn rạp chiếu
                            each itemCinema in cinemas
                              option(value=itemCinema.ID)= itemCinema.TenRap
                  br
                  .row
                      .col-md-12
                        .input-group.mb-3
                              .input-group-prepend
                                  span#inputGroup-sizing-default.input-group-text(style = "color:red; font-weight:bold") Tên phòng
                              input.form-control#txtRoomName(name= "txtRoomName", placeholder="Nhập tên phòng",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')

                  .row
                      .col(style="display:flex; justify-content:center;")
                        button.btn.btn-dark(style="width:200px;",type='button', id="btnhuy") Hủy bỏ
                      .col(style="display:flex; justify-content:center;") 
                        button.btn.btn-success(id="btnsubmit",style="width:200px;",type='button') Thêm phòng       

      #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content.dialog-loading
              .modal-body
                .d-flex.justify-content-center.align-item-center
                  .spinner-border(role='status')
                    span.sr-only Loading...                  


                      
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
script(src='build/js/jsRoom.js')