doctype html
include ../header.pug
link(rel='stylesheet', href='plugins/fullcalendar/main.min.css')
link(rel='stylesheet', href='plugins/fullcalendar-daygrid/main.min.css')
link(rel='stylesheet', href='plugins/fullcalendar-timegrid/main.min.css')
link(rel='stylesheet', href='plugins/fullcalendar-bootstrap/main.min.css')
link(href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.css', rel='stylesheet')     
script(src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js')
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Xếp lịch
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý lịch chiếu
              li.breadcrumb-item.active 
                a(href='#') Xếp lịch
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
        .container-fluid
            .row
                .col-md-3
                    .sticky-top.mb-3
                    .card
                        .card-header
                            h4.card-title Lịch chiếu theo Rạp
                        .card-body
                            // the events
                            #external-events
                                select#inputGroupSelect02.custom-select(name="dropdownCinema", onchange="loadMovieOfCinema(this)")
                                    option(selected='') Chọn rạp chiếu
                                    each itemCinema in danhsachrap
                                      option(value=itemCinema.ID)= itemCinema.TenRap
                                
                        // /.card-body
                    // /.card
                    .card
                        .card-header
                            h3.card-title Thêm lịch chiếu
                        .card-body
                            select#inputGroupSelect02.custom-select(name="dropdownMovie")
                                option(selected='') Chọn phim
                                
                        .card-body
                            select#inputGroupSelect02.custom-select(name="dropdownRoom")
                                option(selected='') Chọn phòng
                        .card-body 
                            input.form-control(name= "txtSuatChieu",type='time', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                        .card-body
                            input.form-control(id="txtNgayChieu",name= "txtNgayChieu",type='date', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                        .card-body
                            button.btn.btn-success(style="width:200px;",type='button', onclick="onSubmit()") Thêm lịch chiếu
                          
                // /.col
                .col-md-9
                    .card.card-primary
                        .card-body.p-0
                            // THE CALENDAR
                            #calendar
                        // /.card-body
                    // /.card
                // /.col
            // /.row
        // /.container-fluid
    // /.content
    // /.content-wrapper
include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// Bootstrap
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// jQuery UI
script(src='plugins/jquery-ui/jquery-ui.min.js')
// AdminLTE App
script(src='dist/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
// fullCalendar 2.2.5
script(src='plugins/moment/moment.min.js')
script(src='plugins/fullcalendar/main.min.js')
script(src='plugins/fullcalendar-daygrid/main.min.js')
script(src='plugins/fullcalendar-timegrid/main.min.js')
script(src='plugins/fullcalendar-interaction/main.min.js')
script(src='plugins/fullcalendar-bootstrap/main.min.js')
script(src='build/js/jsCalendar.js')