doctype html
include ../header.pug
link(href='https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.6/dist/goong-js.css', rel='stylesheet')
script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
.wrapper
  // Navbar
  nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Left navbar links
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu', href='#', role='button')
          i.fas.fa-bars
      li.nav-item.d-none.d-sm-inline-block
        a.nav-link(href='/home') Trang chủ
  // /.navbar
  // Main Sidebar Container
  include ../slidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0.text-dark Thêm rạp chiếu
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/home') Trang chủ
              li.breadcrumb-item
                a(href='#') Quản lý rạp chiếu
              li.breadcrumb-item.active 
                a(href='#') Thêm rạp chiếu
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
        form(action='/rapchieu/themrapchieu', method="post", enctype="multipart/form-data", id="formCinema")  
          .card
            .card-body
              .row
                .col-md-12
                  h5(style="font-weight:bold;") Thông tin rạp chiếu
              .row
                .col-md-6
                  .row
                    .col
                      .input-group.mb-3
                            .input-group-prepend
                                span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold" ) Tên Rạp
                            input.form-control#txtTheaterName(name="txtTheaterName", placeholder="Nhập tên rạp",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default' )                    
                  .row    
                    .col    
                      .input-group.mb-3
                            .input-group-prepend
                                span.input-group-text(style = "font-weight:bold") Ảnh rạp
                            .custom-file
                                input.custom-file-input(id="inputGroupFile01", name="imgCinema", type='file',accept="image/png, image/gif, image/jpeg", onchange="setFileImageCinema(this)")
                                label.custom-file-label.file-name-image-cinema(for='inputGroupFile01') Choose file
                      .img-add-cinema-container
                        img.img-add-cinema(src="build/img/no-image-available-icon-vector.jpg",  id="imgCinemaPreview", width="150",height="150")
             
                .col-md-6
                  .row
                    .col
                      .input-group.mb-3
                        .input-group-prepend.width-input-address
                          span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Địa chỉ
                          input.form-control#txtCinemaAddress(name="txtCinemaAddress", placeholder="Nhập địa chỉ rạp",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
                                  
                  .row
                    .col-md-10
                      .input-group.mb-3
                            .input-group-prepend
                                span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Vĩ độ
                            input.form-control#txtViDo(name= "txtViDo", placeholder="Nhập vĩ độ rạp",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default', readonly)
                      .input-group.mb-3
                            .input-group-prepend
                                span#inputGroup-sizing-default.input-group-text(style = "font-weight:bold") Kinh độ
                            input.form-control#txtKinhDo(name= "txtKinhDo", placeholder="Nhập kinh độ rạp",type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default', readonly)
                    .col-md-2
                      button.btn.btn-success.btn-get-lng-lat( type='button', onclick="getLatLng()") Lấy kinh độ vĩ độ
                      
                  br
                  .row
                    .col(style="display:flex; justify-content:center;")
                      button.btn.btn-dark(style="width:200px;",type='button', id="btnhuy") Hủy bỏ
                    .col(style="display:flex; justify-content:center;")
                      button.btn.btn-success(id="btnSubmitAdd",style="width:200px;",type='button', onclick="btnSubmit(true)") Thêm rạp chiếu
          .card
            .card-body
              .row
                .col-md-12
                  #map(style="height:500px;")
                              
        #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered
              .modal-content.dialog-loading
                .modal-body
                  .d-flex.justify-content-center.align-item-center
                    .spinner-border(role='status')
                      span.sr-only Loading...

        #notifyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Thông báo
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  span#modalTextMessage= messNotify
                .modal-footer
                  button.btn.btn-primary(type='button' id='btnOKAddMovie') Ok  

        

        
    // /.content
  // /.content-wrapper
  include ../footer.pug
// ./wrapper
// jQuery
script(src='plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='plugins/chart.js/Chart.min.js')
// Sparkline
script(src='plugins/sparklines/sparkline.js')
// JQVMap
script(src='plugins/jqvmap/jquery.vmap.min.js')
script(src='plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='plugins/moment/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='dist/js/demo.js')
script(src='https://cdn.jsdelivr.net/npm/scriptjs@2.5.9/dist/script.min.js')
script(src='https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js')
script(src='https://cdn.jsdelivr.net/npm/places.js@^1.17.0')
script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@4')
script(src='https://maps.googleapis.com/maps/api/js?v=weekly&key=AIzaSyBawL8VbstJDdU5397SUX7pEt9DslAwWgQ')
script(src='https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.6/dist/goong-js.js')
script(src='https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js')  
script(src='https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js'
    , integrity='sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=='
    , crossorigin='anonymous'
    , referrerpolicy='no-referrer')
script(src='build/js/jsrapchieu.js')
